<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Excel Mapper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="main-header">
        <div class="container header-container">
            <a href="/" class="logo">ПростоПарсер</a>
            <nav class="main-nav">
                <a href="/">Обработка</a>
                <a href="/templates">Шаблоны</a>
                <a href="/dictionary">Словарь</a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>